<?xml version="1.0"?>
<connectionStrings>
    <clear />
    <add name="DBConnStr" connectionString="Data Source=qds126671204.my3w.com;Initial Catalog=qds126671204_db;   Persist Security Info=True;User ID=qds126671204;Password=Chrsoft13816515255;Pooling=True;Min Pool Size=2;Max Pool Size=500;Workstation ID=routinExec" providerName="System.Data.SqlClient" />
</connectionStrings>